.section{
    height: 100vh;
}

tr{
    border-bottom: none;
}

/*EDITAVEIS*/

.output-text{
    display: inherit;    
}

.editable{
    display: none;
}

.tabela{
    display: inherit;
}

/* HOME*/

#titulo-home{
    color: #fafafa;
}

#subtitulo-home{
    color: #eceff1;
    margin-top: -20px;
    font-style: italic;
}

#img-home{
    display: inline-block;
    margin-top: 100px;
}

.circle{
    border: 1px solid #424242;
}

/*ABOUT*/

#title-about{
    display: inline-block;
    margin-top: 80px;
}

#descript-about{
    text-align: justify;
}

#titleskill-about{
    display: inline-block;
    margin-top: 80px;
}

.progress{
    background-color: #bdbdbd;
}

.progress .determinate{
    background-color: #616161;
}

/*PROJECTS*/

#secondrow-project{
    margin-top: 80px;
}

/*CONTACT*/

#title-contact{
    display: inline-block;
    margin-top: 80px;
}

#container-contact{
    margin-top: 100px;
}

